.todoComponent {
  min-height: 100vh;
}

.todo {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
}

.todoContent {
  width: 100%;
  min-height: 90vh;
  display: grid;
  margin-top: 1rem;
  margin-right: 3rem;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 0.5fr 2fr 1fr;
  grid-template-areas:
    "main main main main main "
    "content content sudo completed completed"
    "footer footer footer footer footer";

  gap: 1em;

  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-family: "Roboto";
}
.todoContent div:nth-child(1) {
  display: inline-grid;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  grid-area: main;
  text-align: center;
  border: 1px solid var(--header-background);
  border-radius: 0.25em;
  font-weight: 500;
  background-image: url("../../../assets/svg/Bullet\ journal-pana\ \(1\).svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1em;
}
.todoContent span {
  background-color: var(--header-background);
  color: var(--light-text);
  border-radius: 0.25em;
  padding: 5px;
  border: 2px solid var(--light-text);
}

.todoContent div:nth-child(2) {
  grid-area: content;
  text-align: center;
  height: 100%;
  width: 100%;
  border: 1px solid var(--header-background);
}
.todoContent div:nth-child(3) {
  grid-area: completed;
  text-align: center;
  height: 100%;
  width: 100%;
  border: 1px solid var(--header-background);
}
.todoContent div:nth-child(4) {
  grid-area: footer;
}

.pen {
  width: 5rem;
  height: 2.5rem;

  fill: var(--header-backgroud);
}

.todoScroll {
  border: none !important;
}
.createTodo {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createTodoForm {
  width: 80vw;
  height: 100vh;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "cal cal prev" "time time prev" "inp inp prev";
}
.createTodoForm div:nth-child(1) {
  grid-area: cal;
}

.createTodoForm div:nth-child(2) {
  grid-area: time;
}
.createTodoForm div:nth-child(3) {
  grid-area: inp;
}

.createTodoForm div:nth-child(4) {
  grid-area: prev;
}
