.header {
  width: 100vw;
  background-color: var(--primary);
  /* height: 3em; */
  color: var(--text);
  padding: 0em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}

.symbol {
  transform: scale(0.31);
  margin-bottom: 0.4em;
  fill: var(--text);
}
.headerLogo {
  transform: scale(2);
  margin-left: 1em;
  fill: var(--text);
}
.brandDesc {
  display: flex;
  align-items: center;
}

.avatar {
  /* transform: scale(0.04); */
  width: 4em;
  height: 2em;
  fill: var(--text);
}
