.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 20vw;

  /* background-color: var(--secondary-background); */
  /* border-right: 1.5px solid var(--header-background); */
  font-family: "Roboto";
  font-weight: 600;
  color: var(--primary-text);
  height: 77.8vh;
  padding-top: 10vh;
  margin-right: 1em;
  margin-left: 8vw;
}

.sidebar div {
  margin: 2em 0;
}
