* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.authentication {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authentication button {
  width: 80%;
  margin-left: 10%;
}
