.calendar {
  font-family: "Roboto";
  text-align: center;
  border: 1px solid var(--header-background);
  border-radius: 0.25rem;
  padding: 1rem;
}
.calendar > div:nth-child(1) {
  font-size: 2rem;
}
.calendarDate {
  display: grid;
  grid-template-columns: repeat(7, 2rem);
  grid-template-rows: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
}

.momentDetail {
  display: flex;
  justify-content: space-between;
}

.calendarCont {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.momentDetail > span {
  background-color: var(--header-background);
  color: var(--light-text);
  padding: 0.3rem;
  border-radius: 0.25rem;
}
